<h2>Today Shows:</h2>

<% @today_shows.each do |show| %>
  <h3><%= show["show"]["title"] %> <%= "S"+show["episode"]["season"].to_s.rjust(2, "0")+"E"+show["episode"]["number"].to_s.rjust(2, "0") %></h3>
  <h4><%= show["episode"]["overview"] %></h4>
  <p><%= DateTime.parse(show["first_aired"]).strftime("%d/%m/%Y %I:%M%P") %> - <%= (DateTime.parse(show["first_aired"]) + show["episode"]["runtime"].minutes).strftime("%d/%m/%Y %I:%M%P") %> </p>
  
<% end %>
