<!DOCTYPE html>
<html>
  <head>
    <title>TraktPlaybackProgressRemover</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
    <%= link_to "Home", root_path %>
    <% if cookies[:token] %>
       | <%= link_to "Items in progress", playback_path %> | <%= link_to "Revoke Authorization (log out)", delete_token_path, method: :delete %>
    <% end %>    
    </p>
    <h3><%= notice if notice %></h3>
    <%= yield %>
  </body>
</html>
